<template>
    <div>
        <tile></tile>
        <earnings></earnings>
        <br>
        <visitors></visitors>
    </div>
</template>

<script>

    import earnings from "./earnings.vue"
    import visitors from "./visitors.vue"
    import anouncement from "./anouncement.vue"
    import tile from "./tile.vue"
    import config from "../config"

    export default{
        data(){
            return{
            }
        },
        components:{
            earnings,
            visitors,
            anouncement,
            tile
        },
    }
</script>