<template>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="dashboard_graph">
                    <div class="row x_title">
                        <div class="col-md-6">
                            <h3>Weekly Earnings </h3>
                        </div>
                    </div>
                    <div class="row" >
                        <div v-show="data" id="container-chart" style="min-width: 310px; height: 400px; margin: 0 auto" class="col-md-8"></div>
                        <right></right>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
</template>
<style>
</style>
<script>
    import right from "./right.vue"
    import config from "../config"

    export default{
        data(){
            return{
                data: null,
                days: []
            }
        },
        components:{
            right
        },
        ready: function(){
            if(localStorage) {
                localStorage.removeItem('earningsData');
            }
            this.getData();
//            this.initChart(this.days, this.data);

        },


        methods: {
            getData: function(){
                const self = this;
                var storedData;
                if(config.earningsLocalStorage) {
                    storedData = localStorage.getItem('earningsData');
                } else {
                    storedData = false;
                }
                $.ajax({
                    url: config.base + 'api/weekly-earnings',
                    type: 'get',
                    data: { localStorage:  !!storedData ? JSON.parse(localStorage.getItem('earningsData')) : false },
                    crossDomain: true,
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        if(localStorage && data.refresh) {
                            localStorage.removeItem('earningsData');
//                            localStorage.setItem('earningsData',JSON.stringify( { timestamp: data.serverTime, data:  data.data, user : data.user } ));
                        }
                        self.data = data.data;
                        self.days = data.days;
                        self.initChart(data.days, data.data);
                    }
                });
            },
            initChart: function(days, data){
                $(function () {
                    $('#container-chart').highcharts({
                        title: {
                            text: '',
                            x: -20 //center
                        },
                        credits: {
                            enabled: false
                        },
                        subtitle: {
                        },
                        xAxis: {
                            categories: days
                        },
                        yAxis: {
                            title: {
                                text: 'Earnings ($)'
                            },
                            plotLines: [{
                                value: 0,
                                width: 1,
                                color: '#808080'
                            }]
                        },
                        tooltip: {
                            valueSuffix: '$'
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'middle',
                            borderWidth: 0
                        },
                        series: data
                    });
                });
            }
        }
    }
</script>