<template>
    <div id="container-chart-right" class="col-md-4" style="width: 310px; height: 400px; margin: 0 auto">
    </div>
</template>
<style>
</style>
<script>
    import config from "../config"

    export default{
        data(){
            return{
                data: []
            }
        },
        components:{
        },
        ready: function(){
            this.getData();
            this.initChart();
        },
        methods: {
            getData: function(){
                const self = this;
                var storedData = localStorage.getItem('todayVisitorsDeviceData');
                $.ajax({
                    url: config.base + 'api/today-visitors-device',
                    type: 'get',
                    data: { localStorage:  !!storedData ? JSON.parse(localStorage.getItem('todayVisitorsDeviceData')) : false },
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                       self.data = data.data;
                        if(localStorage && data.refresh) {
                            localStorage.setItem('todayVisitorsDeviceData',JSON.stringify( { timestamp: data.serverTime, data:  data.data, user : data.user } ));
                        }
                    }
                });
            },
            initChart: function(){
                const self = this;
                Highcharts.chart('container-chart-right', {

                    chart: {
                        type: 'solidgauge',
                        marginTop: 50
                    },

                    credits: {
                        enabled: false
                    },

                    title: {
                        text: 'Today visitors by device',
                        style: {
                            fontSize: '24px'
                        }
                    },

                    tooltip: {
                        borderWidth: 0,
                        backgroundColor: 'none',
                        shadow: false,
                        style: {
                            fontSize: '16px'
                        },
                        pointFormat: '{series.name}<br><span style="font-size:2em; color: {point.color}; font-weight: bold">{point.y}%</span>',
                        positioner: function (labelWidth, labelHeight) {
                            return {
                                x: 145 - labelWidth / 2,
                                y: 180
                            };
                        }
                    },

                    pane: {
                        startAngle: 0,
                        endAngle: 360,
                        background: [{ // Track for Move
                            outerRadius: '112%',
                            innerRadius: '88%',
                            backgroundColor: Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0.3).get(),
                            borderWidth: 0
                        }, { // Track for Exercise
                            outerRadius: '87%',
                            innerRadius: '63%',
                            backgroundColor: Highcharts.Color(Highcharts.getOptions().colors[1]).setOpacity(0.3).get(),
                            borderWidth: 0
                        }, { // Track for Stand
                            outerRadius: '62%',
                            innerRadius: '38%',
                            backgroundColor: Highcharts.Color(Highcharts.getOptions().colors[2]).setOpacity(0.3).get(),
                            borderWidth: 0
                        }]
                    },

                    yAxis: {
                        min: 0,
                        max: 100,
                        lineWidth: 0,
                        tickPositions: []
                    },
                    showInLegend: false,
                    plotOptions: {
                        solidgauge: {
                            borderWidth: '34px',
                            dataLabels: {
                                enabled: false
                            },
                            linecap: 'round',
                            stickyTracking: false
                        }
                    },

                    series: [{
                        name: 'Desktop',
                        borderColor: Highcharts.getOptions().colors[0],
                        data: [{
                            color: Highcharts.getOptions().colors[0],
                            radius: '100%',
                            innerRadius: '100%',
                            y: parseFloat(self.data.desktop)
                        }]
                    }, {
                        name: 'Tablet',
                        borderColor: Highcharts.getOptions().colors[1],
                        data: [{
                            color: Highcharts.getOptions().colors[1],
                            radius: '75%',
                            innerRadius: '75%',
                            y: parseFloat(self.data.tablet)
                        }]
                    }, {
                        name: 'Mobile',
                        borderColor: Highcharts.getOptions().colors[2],
                        data: [{
                            color: Highcharts.getOptions().colors[1],
                            radius: '50%',
                            innerRadius: '50%',
                            y: parseFloat(self.data.phone)
                        }]
                    }]
                },
                        function callback() {

                    // Move icon
                   /* this.renderer.path(['M', -8, 0, 'L', 8, 0, 'M', 0, -8, 'L', 8, 0, 0, 8])
                            .attr({
                                'stroke': '#303030',
                                'stroke-linecap': 'round',
                                'stroke-linejoin': 'round',
                                'stroke-width': 2,
                                'zIndex': 10
                            })
                            .translate(190, 26)
                            .add(this.series[2].group);

                    // Exercise icon
                    this.renderer.path(['M', -8, 0, 'L', 8, 0, 'M', 0, -8, 'L', 8, 0, 0, 8, 'M', 8, -8, 'L', 16, 0, 8, 8])
                            .attr({
                                'stroke': '#303030',
                                'stroke-linecap': 'round',
                                'stroke-linejoin': 'round',
                                'stroke-width': 2,
                                'zIndex': 10
                            })
                            .translate(190, 61)
                            .add(this.series[2].group);

                    // Stand icon
                    this.renderer.path(['M', 0, 8, 'L', 0, -8, 'M', -8, 0, 'L', 0, -8, 8, 0])
                            .attr({
                                'stroke': '#303030',
                                'stroke-linecap': 'round',
                                'stroke-linejoin': 'round',
                                'stroke-width': 2,
                                'zIndex': 10
                            })
                            .translate(190, 96)
                            .add(this.series[2].group);*/
                });
            }}
    }
</script>