<template>
    <div class="row tile_count">
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top">Today</span>
                <div class="count"><loading :loading="! data"></loading> <span v-if="data">$ {{ data.today }}</span> </div>
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top">Yesterday</span>
                <div class="count"><loading :loading="! data"></loading><span v-if="data">$ {{data.yesterday}}</span></div>
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top">Last 30 days</span>
                <div class="count green"> <loading :loading="! data"></loading> <span v-if="data">$ {{ data.month }}</span></div>
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top">Overall paid income</span>
                <div class="count"><loading :loading="! data"></loading><span v-if="data">$ {{data.incomes}}</span></div>
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-users"></i> Overall visits</span>
                <div class="count"><loading :loading="! data"></loading><span v-if="data">{{data.visits}}</span></div>
            </div>
        </div>

    </div>
</template>
<style scoped>
    .sk-circle{
        margin: 0 auto !important;
    }
</style>
<script>
    import config from "../config"
    import loading from "../general/load.vue"
    import moment from 'moment'
    
    export default{
        data(){
            return{
                data: null,
                days: []
            }
        },
        ready: function(){
            this.getData();
        },
        methods: {
            getData: function(){
                const self = this;
                var storedData = localStorage.getItem('tileData');
                $.ajax({
                    headers: {
                        "Access-Control-Allow-Headers": "*",
                    },
                    url: config.base + 'api/tile-dashboard',
                    type: 'POST',
                    data: { localStorage:  !!storedData ? JSON.parse(localStorage.getItem('tileData')) : false },
                    crossDomain: true,
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        self.data = data.data;
                        if(localStorage && data.refresh) {
                            localStorage.setItem('tileData',JSON.stringify( { timestamp: data.serverTime, data:  data.data, user : data.user } ));
                        }
                    }
                });
            },
        },
        components:{
            loading
        }
    }
</script>