<template>
       <div class="col-md-4 col-sm-4 col-xs-12">
           <div class="x_panel tile fixed_height_360 overflow_hidden">
               <div class="x_title">
                   <h2>Today visitors</h2>
                   <div class="clearfix"></div>
               </div>
               <div class="x_content">

                  <div class="row">
                      <div class="col-md-12 col-lg-6">
                          <table class="">
                              <tbody><tr>
                                  <th style="width:37%;">
                                  </th>
                              </tr>
                              <tr>
                                  <td><iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                                      <canvas id="canvas1" height="189" width="189" style="margin: 15px 10px 10px 0"></canvas>
                                  </td>
                                  <td>
                                  </td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="col-md-12 col-lg-6">
                          <table class="tile_info" v-if="data">
                              <thead>

                              <th>
                                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                      <p class="">State</p>
                                  </div>
                                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                      <p class="">Percent</p>
                                  </div>
                              </th>
                              </thead>
                              <tbody><tr>
                                  <td>
                                      <p><i class="fa fa-square blue"></i>Australia </p>
                                  </td>
                                  <td>{{ data[1] }}%</td>
                              </tr>
                              <tr>
                                  <td>
                                      <p><i class="fa fa-square green"></i>Canada </p>
                                  </td>
                                  <td>{{ data[2] }}%</td>
                              </tr>
                              <tr>
                                  <td>
                                      <p><i class="fa fa-square purple"></i>UK </p>
                                  </td>
                                  <td>{{ data[3] }}%</td>
                              </tr>
                              <tr>
                                  <td>
                                      <p><i class="fa fa-square aero"></i>United States </p>
                                  </td>
                                  <td>{{ data[4] }}%</td>
                              </tr>
                              <tr>
                                  <td>
                                      <p><i class="fa fa-square" style="color: #F2385A;"></i>India </p>
                                  </td>
                                  <td>{{ data[5] }}%</td>
                              </tr>
                              <tr>
                                  <td>
                                      <p><i class="fa fa-square" style="color: #455C73;"></i>Others </p>
                                  </td>
                                  <td>{{ data[9999] }}%</td>
                              </tr>
                              </tbody></table>
                      </div>
                  </div>


               </div>
           </div>
       </div>
</template>
<style scoped>
    table {
        overflow-x: auto;
        display: block;
    }
    table.tile_info td {
        font-size: 11px;
    }
    #canvas1{
        max-width:189px;
        max-height:189px;
    }

    @media (min-width:320px) {
        #canvas1{
            width:200px;
            height:200px;
        }
    }
    @media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ }
    @media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
    @media (min-width:801px) {
        #canvas1{
            max-width:126px;
            max-height:126px;
        }
    }
    @media (min-width:1025px) {

        #canvas1{
            max-width:126px;
            max-height:126px;
        }
    }
    @media (min-width:1281px) {

    }
    @media (min-width:1600px) {
        #canvas1{
            max-width:197px;
            max-height:197px;
        }
    }
</style>
<script>
    import config from "../config"

    export default{
        data(){
            return{
                data: null
            }
        },
        components:{
        },
        ready: function(){
            this.getData();
//            this.initChart();
        },
        methods: {
            getData: function(){
                const self = this;
                $.ajax({
                    url: config.base + 'api/today-visitors',
                    type: 'get',
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        self.data = data.data;
                        self.initChart(data.input);
                    }
                });
            },
            initChart: function(data){
                Chart.defaults.global.legend = {
                    enabled: false
                };

                var data = {
                    labels: [
                        "Australia",
                        "Canada",
                        "United Kingdom",
                        "United States",
                        "India",
                        "Others"
                    ],
                    datasets: [{
                        data: data,
                        backgroundColor: [
                            "#3498DB",
                            "#26B99A",
                            "#9B59B6",
                            "#BDC3C7",
                            "#F2385A",
                            "#455C73",
                        ],
                        hoverBackgroundColor: [
                            "#3498DB",
                            "#26B99A",
                            "#9B59B6",
                            "#BDC3C7",
                            "#F2385A",
                            "#455C73",
                        ]

                    }]
                };

                var canvasDoughnut = new Chart(document.getElementById("canvas1"), {
                    type: 'doughnut',
                    tooltipFillColor: "rgba(51, 51, 51, 0.55)",
                    data: data,
                    responsive: true,
                    maintainAspectRatio: true
                });
            }
        }
    }
</script>