<template>
    <div class="row">
        <div class="col-xs-12 table">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Amount</th>
                    <th>Payout type</th>
                    <th style="width: 59%">Payout status</th>
                    <th>Payout date</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="bill in bills">
                    <td> {{ $index + 1 }}</td>
                    <td> ${{ bill.amount}} </td>
                    <td> {{bill.payout_type}}</td>
                    <td style="color: #5cb85c;"> <b>Paid</b> </td>
                    <td> {{bill.payout_date}}</td>
                </tr>
                <tr>
                    <td>{{ bills.length + 1 }}</td>
                    <td>$ {{ unpaid }}</td>
                    <td>{{ method.title }}</td>
                    <td> <span v-show="unpaid >= 20" style="color: #03A3C7;"><b>Pending</b></span> <span v-show="unpaid < 20"> - </span></td>
                    <td> - </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-6">
            <p class="lead">Totals</p>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <th style="width:50%">Paid:</th>
                        <td>${{ user.paid }}</td>
                    </tr>
                    <tr>
                        <th>Unpaid</th>
                        <td>${{ unpaid }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
</template>
<style>
</style>
<script>
    import config from '../config'
    export default{
        data(){
            return{
                bills: [],
                user: {},
                method: '',
                unpaid: 0
            }
        },
        ready:function(){
            this.getData();
        },
        methods:{
            getData: function () {
                const self = this;
                $.ajax({
                    url: config.base + 'api/payment-history',
                    type: 'get',
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        self.bills = data.bills;
                        self.user  = data.user;
                        self.method  = data.method;
                        self.unpaid  = data.unpaid;
                    }
                });
            }
        },
        components:{
        }
    }
</script>