<template>
    <div>
        <div class="x_title">
            <div class="row">
                <h2>Payment method <small></small></h2>
            </div>
            <div class="alert alert-info col-md-6 pull-left">
                Heads up! The processing of wire payments may take from 2 to 4 working days .
            </div>
            <ul class="nav navbar-right panel_toolbox">
            </ul>
            <div class="col-xs-12 col-md-6 no-print pull-right">
                <button class="btn btn-success pull-right" @click="settings()"><i class="fa fa-credit-card"></i> Config payment method </button>
            </div>
            <div class="clearfix"></div>
        </div>

        <modal :show.sync="setting" :onclose="close" :wrapperclass="true">
            <div class="modal-header">
                <h3>Payment settings</h3>
            </div>
            <div class="modal-body">
                <div v-if="success" class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" @click="closeAlert()">&times;</a>
                    {{successMsg}}
                </div>
                <div class="alert alert-info">
                    For Wire Transfer the minimum balance is $200
                </div>
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="control-label col-md-3 col-xs-12">Choose method</label>
                        <div class="col-md-9 col-xs-12">
                            <select class="form-control" v-model="user.payment_method">
                                <option v-for="option in dropDownData" :value="option.id">{{option.title}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <paypal v-if="user.payment_method=='1'" :user.sync="user"></paypal>
                <wire v-if="user.payment_method=='2'" :user.sync="user"></wire>
                <skrill v-if="user.payment_method=='3'" :user.sync="user"></skrill>


            </div>
            <div class="modal-footer">
                <button class="btn btn-default"  @click="submitFunction()">Save settings</button>
            </div>
        </modal>
    </div>
</template>
<style scoped>
    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .input-margin-top{
        margin-top:20px;
    }

    .modal-container{
        margin-top: 100px !important;
    }

    .alert-info{
        color: white;
        font-width:bold;
    }

</style>
<script>
    import modal from '../general/modal.vue'
    import config from '../config'
    import paypal from "./paypal.vue"
    import wire from "./wire.vue"
    import skrill from "./skrill.vue"
    export default{
        data(){
            return{
                setting : false,
                dropDownData: [],
                payment_method: 0,
                user: {},
                success: false,
                error: false,
                successMsg: ''
            }
        },
        methods: {
            closeAlert: function(){
                this.success = false;
            },
            settings: function () {
                this.setting = true;
            },
            getDropdownData: function () {
                const self = this;
                $.ajax({
                    url: config.base + 'api/payment-methods',
                    type: 'get',
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        self.$set('dropDownData', data.data);
                    }
                });
            },
            close: function () {
                this.closeAlert();
                this.setting = false;
            },
            submitFunction: function(){
                const self = this;
                $.ajax({
                    url: config.base + 'api/update-payment-method',
                    type: 'POST',
                    dataType: 'json',
                    data: self.user,
                    async: false,
                    success: function (data) {
                        if(data.code == 200){
                            self.success = true;
                            self.error = false;
                            self.successMsg = data.msg;
                        }
                    }
                });
            },
            getUserData: function(){
                const self = this;
                $.ajax({
                    url: config.base + 'api/user-data',
                    type: 'get',
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        self.user = data.data;
                    }
                });
            }
        },
        events: {
        },
        components:{
            modal,
            paypal,
            wire,
            skrill
        },
        ready: function(){
            this.getUserData();
            this.getDropdownData();
        }
    }
</script>