<template>
    <div>
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <method></method>
                            <section class="content invoice">
                                <div class="row">
                                    <div class="col-xs-12 invoice-header">
                                        <h1>
                                            <i class="fa fa-globe"></i> Payments
                                        </h1>
                                    </div>
                                </div>
                                <history></history>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
</style>
<script>
    import method from "./method.vue"
    import history from "./history.vue"




    export default{
        data(){
            return{
            }
        },
        components:{
            history,
            method
        }
    }
</script>