<template>
    <form class="form-horizontal form-label-left input_mask" _lpchecked="1">
        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <input type="text" class="form-control has-feedback-left" name="paypal_name" v-model="user.paypal_name" placeholder="Paypal name">
            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <input type="text" class="form-control" name="paypal_email" v-model="user.paypal_email" id="user.paypal_email" placeholder="Paypal email">
            <span class="fa fa-envelope form-control-feedback right" aria-hidden="true"></span>
        </div>
    </form>
</template>
<style>
</style>
<script>
    export default{
        data(){
            return{
                paypal_name : '',
                paypa_email : '',
            }
        },
        ready:function(){
        },
        props: ['user'],
        components:{
        }
    }
</script>