<template>
    <form class="form-horizontal form-label-left input_mask" _lpchecked="1">
        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <input type="text" class="form-control has-feedback-left" v-model="user.bank_name" name="bank_name" id="bank_name" placeholder="Bank name">
            <span class="fa fa-bank form-control-feedback left"></span>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <input type="text" class="form-control" v-model="user.bank_street" name="bank_street" id="bank_street" placeholder="Bank street">
            <span class="fa fa-bank form-control-feedback right" aria-hidden="true"></span>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <input type="text" class="form-control has-feedback-left" v-model="user.iban" name="iban" id="iban" placeholder="IBAN">
            <span class="fa fa-bank form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <input type="text" class="form-control" v-model="user.bank_city" name="bank_city" id="bank_city" placeholder="Bank city">
            <span class="fa fa-bank form-control-feedback right" aria-hidden="true"></span>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <input type="text" class="form-control  has-feedback-left" id="bank_zip" v-model="user.bank_zip" name="bank_zip" placeholder="Bank zip">
            <span class="fa fa-bank form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <input type="text" class="form-control" id="swift_code" v-model="user.swift_code" name="swift_code" placeholder="Swift code">
            <span class="fa fa-bank form-control-feedback right" aria-hidden="true"></span>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <input type="text" class="form-control  has-feedback-left" v-model="user.holder_name" id="holder_name" name="account_holder_name" placeholder="Account holder name">
            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <input type="text" class="form-control" v-model="user.wire_street" id="wire_street" name="wire_street" placeholder="Your address (Street)">
            <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <input type="text" class="form-control  has-feedback-left" v-model="user.wire_country" id="wire_country" name="wire_country" placeholder="Country">
            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <input type="text" class="form-control" v-model="user.wire_city" id="wire_city" name="wire_city" placeholder="Your City">
            <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
        </div>
    </form>
</template>
<style>
</style>
<script>
    export default{
        data(){
            return{
            }
        },
        ready: function(){
        },
        props: ['user'],
        methods:{

        },
        events: {
        },
        components:{
        }
    }
</script>