<template>
    <div>
        <modal :title="title" :show.sync="show" @ok="ok" @cancel="cancel">
            <div class="alert alert-success" v-if="successBuyed.action">
                {{ successBuyed.msg }}
            </div>
            {{msg}}
            <div slot="footer">
                <button type="button" class="btn red btn-outline" @click="cancel" v-if="! successBuyed.action">Cancel</button>
                <button type="button" class="btn blue" @click="ok" v-if="! successBuyed.action" >Confirm</button>
            </div>
        </modal>
    </div>
</template>
<style>
</style>
<script>
    import modal from "../general/bmodal.vue"
    import config from "../config"
    export default{
        data(){
            return{
                msg: 'If you click on confirm than amount will be deducted from account.',
                title: 'Are you sure?',
                lowBalance: false,
                successBuyed: {
                    action: false,
                    msg: ''
                }
            }
        },
        props:{
            show: {
                type: Boolean,
                twoWay: true,
                default: false
            },
            alter: {
                type: Boolean,
                twoWay: true,
                default: false
            },
            data:{
                type: Object,
                twoWay: false,
                default: {}
            }
        },
        methods: {
            ok() {
                if(this.lowBalance){
                    this.alter = this.lowBalance;
                    this.show = false;
                }else{
                    // avem balanta si vrem sa cumparam
                    this.buyRequest();
                }
            },
            cancel() {
                this.alter = true;
                this.show = false;
            },

            buyRequest(){
                const self = this;
                this.generate = true;
                $.ajax({
                    url: config.base + 'api/domain-buy',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        domain: self.data.domain,
                        price: self.data.price
                    },
                    async: false,
                    success: function (data) {
                        if(data.code == 200){
                            self.$dispatch('buyedDomain', data.user_domain);
                            self.successBuyed.action = true;
                            self.successBuyed.msg = data.msg;
                            self.msg = '';
                            self.title =  'Success'
                        }else{
                        }
                    }
                });
            },
            initState(){
                this.msg = 'If you click on confirm than amount will be deducted from account.';
                this.title =  'Are you sure?'
                this.lowBalance = false
                this.successBuyed =  {
                    action: false,
                    msg: ''
                };
            }
        },
        watch: {
            data(value){
                this.initState();
                if(value.code == 200 && value.status == true){
                    this.msg = value.msg;
                    if(value.lowBalance){
                        this.title = 'Note';
                    }else{
                        this.title = 'Are you sure ?';
                    }
                    this.lowBalance = value.lowBalance;
                }else{
                    this.lowBalance = value.lowBalance;
                    this.msg = 'If you click on confirm than amount will be deducted from account.',
                    this.title = 'Are you sure?'
                }
            }
        },
        components:{
            modal
        }
    }
</script>