<template>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th class="text-center">No</th>
            <th class="text-center">Name <span  class="badge badge-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="">?</span></th>
            <th class="text-center">Available  </th>
            <th class="text-center">Date </th>
        </tr>
        </thead>
        <tbody>
            <tr v-for="domain in data" v-if="data.length">
                <th class="text-center">{{ $index + 1 }}</th>
                <td class="text-center">{{ domain.title }} </td>
                <td class="text-center">
                    <span  class="badge" v-bind:class="{'badge-success': domain.available == '1', 'badge-error': domain.available == '0'}" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="">
                        <span v-if="domain.available == '0'">No</span>
                        <span v-if="domain.available == '1'">Yes</span>
                    </span>
                </td>
                <td class="text-center">{{ domain.created_at }}</td>
            </tr>
            <tr v-if="data.length == 0">
                <th colspan="4" class="text-center">
                    You have not created any custom domains yet!!
                </th>
            </tr>
        </tbody>
    </table>
</template>
<style>
</style>
<script>
    export default{
        data(){
            return{
            }
        },
        props:['data'],
        components:{
        }
    }
</script>