<template>
    <div>
        <search :domain-name.sync="domainName"></search>
        <nameservers :show.sync="showNameserver"></nameservers>
        <button type="button" class="btn btn-success pull-right flat" @click="already">Already own a domain</button>
        <domains-data :data.sync="domains"></domains-data>
    </div>
</template>
<style>
</style>
<script>
    import search from "./search.vue"
    import nameservers from "./nameservers.vue"
    import domainsData from "./data.vue"
    import config from "../config"
    export default{
        data(){
            return{
                domains: [],
                domainName: '',
                showNameserver: false
            }
        },
        ready: function(){
          this.getDomains();
        },
        events:{
            'buyedDomain' : function(data){
                this.getDomains();
            }
        },
        methods: {
            getDomains(){
                this.domainName = '';
                const self = this;
                this.generate = true;
                $.ajax({
                    url: config.base + 'api/domains-all',
                    type: 'get',
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        if(data.code == 200){
                            self.domains = data.domains;
                        }else{
                        }
                    }
                });
            },
            already(){
                this.showNameserver = true;
            }
        },
        components:{
            search,
            domainsData,
            nameservers
        }
    }
</script>