<template>
    <div>
        <modal :title="title" :show.sync="show" @ok="ok" @cancel="cancel">
            <div class="alert alert-success" v-if="formSubmited.action">
                <p>{{formSubmited.msg}}</p>
            </div>
            <form class="form-horizontal form-label-left input_mask" _lpchecked="1"  v-if="! formSubmited.action">
                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" name="title" v-model="form.title" placeholder="Domain name">
                    <span class="fa fa-list form-control-feedback left" aria-hidden="true"></span>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                    <p>
                        Please remove your current name servers and add the following:
                    </p>
                    <ul>
                        <li>ns1.digitalocean.com</li>
                        <li>ns2.digitalocean.com</li>
                        <li>ns3.digitalocean.com</li>
                    </ul>
                </div>
            </form>
            <div slot="footer">
                <button type="button" class="btn red btn-outline" @click="cancel" v-if="! formSubmited.action">Cancel</button>
                <button type="button" class="btn blue" @click="ok" v-if="! formSubmited.action" >Save</button>
            </div>
        </modal>
    </div>
</template>
<style>
</style>
<script>
    import modal from "../general/bmodal.vue"
    import config from "../config"
    export default{
        data(){
            return{
                title: 'Add here domain name',
                form: {
                    nameserver1: '',
                    nameserver2: '',
                    nameserver3: '',
                },
                formSubmited:{
                    action: false,
                    msg: ''
                }
            }
        },
        props:['show','alter','data'],
        methods: {
            ok() {
                    this.submit();
            },
            cancel() {
                this.show = false;
            },

            submit(){
                const self = this;
                $.ajax({
                    url: config.base + 'api/domain-nameservers',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        form: self.form
                    },
                    async: false,
                    success: function (data) {
                        if(data.code == 200){
                            self.$dispatch('buyedDomain', data.user_domain);
                            self.formSubmited.action = true;
                            self.formSubmited.msg = data.msg;
                            self.title =  'Success'
                        }else{

                        }
                    }
                });
            },
            initState(){
                this.formSubmited =  {
                    action: false,
                    msg: ''
                };
            }
        },
        watch: {
            show(){
                this.form = {
                    nameserver1: '',
                    nameserver1: '',
                    nameserver2: '',
                    nameserver3: '',
                };
                this.formSubmited = {
                    action: false,
                    msg: ''
                };
                this.title = 'Add domain name';
            }
        },
        components:{
            modal
        }
    }
</script>