<template>
    <div>
        <div class="form-group" v-bind:class="{'has-error':incorrectFormat, 'has-warning': !isAvailable}">
            <p class="help-block has-error" v-if="incorrectFormat || !isAvailable">{{ errMsg }}</p>
        </div>
        <div class="input-group" v-bind:class="{'has-error':incorrectFormat, 'has-success': isAvailable, 'has-warning': isAvailable==false}">
            <input type="text" placeholder="Find your domain name" class="form-control" v-model="domainName" @keyup="up">
        <span class="input-group-btn">
            <button type="button" class="btn btn-danger" @click="available" v-if="! isAvailable || alter">Search</button>
            <button type="button" class="btn btn-success" @click="buy" v-if="isAvailable && !alter">Buy Now</button>
            <button type="button" class="btn btn-default" v-if="isAvailable && !alter">${{price}}</button>
        </span>
        </div>
        <ask :show.sync="show" :data="data" :alter.sync="alter"></ask>
    </div>
</template>
<style>
    .flat{
        -webkit-border-radius:0px;
        -moz-border-radius:0px;
        border-radius:0px;
    }
</style>
<script>
    import config from "../config"
    import toastr from 'toastr'
    import ask from "./ask.vue"

    export default{
        data(){
            return{
//                domainName : '',
                isAvailable: null,
                incorrectFormat: false,
                errMsg: '',
                show: false,
                data: null,
                alter: false,
                price: 0,
            }
        },
        props: ['domainName'],
        methods: {
            up(){
               this.alter = true;
               this.isAvailable = false;
            },
            available(){
                const self = this;
                this.generate = true;
                $.ajax({
                    url: config.base + 'api/domain-available',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        domain: self.domainName,
                    },
                    async: false,
                    success: function (data) {
                        if(data.code == 200){
                            self.incorrectFormat = false;
                            self.alter =  false
                            self.data = data;
                            self.errMsg = '';
                            if(data.status){
                                self.isAvailable = true;
                                self.price = data.price;
                            }else{
                                self.incorrectFormat = false;
                                self.errMsg = data.msg;
                                self.isAvailable = false;
                                self.price = 0;
                            }
                        }else{
                            self.incorrectFormat = true;
                            self.errMsg = data.msg;
                        }
                    }
                });
            },
            buy: function(){
                this.show = true;
            },
            

        },
        components:{
            ask,
        }
    }
</script>