<template>
    <div id="campaigns">
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="row">
                            <div class="col-md-6" id="buttons">
                                <button @click="filter('popular')" class="btn btn-default" v-bind:class="{'full-btn' : isMobile, 'active': currentModel == 'popular'}">Most Popular</button>
                                <button @click="filter('latest')" class="btn btn-default" v-bind:class="{'full-btn' : isMobile, 'active': currentModel == 'latest'}">Newest Content</button>
                                <button @click="filter('oldest')" class="btn btn-default" v-bind:class="{'full-btn' : isMobile, 'active': currentModel == 'oldest'}">Oldest Content</button>
                                <button @click="filter('all')" class="btn btn-default" v-bind:class="{'full-btn' : isMobile, 'active': currentModel == 'all'}">All Content</button>
                                <button @click="filter('not_posted')" class="btn btn-default" v-bind:class="{'full-btn' : isMobile, 'active': currentModel == 'not_posted'}">Have Not Posted</button>
                                <button @click="filter('ready')" class="btn btn-default" v-bind:class="{'full-btn' : isMobile, 'active': currentModel == 'ready'}">Already posted</button>
                                <button @click="filter('personal')" class="btn btn-default" v-bind:class="{'full-btn' : isMobile, 'active': currentModel == 'ready'}">My campaigns</button>
                                <button @click="clearPosted()" class="btn btn-success" v-bind:class="{'full-btn' : isMobile}">Reset "Already posted"</button>
                            </div>
                            <div class="col-md-3 col-sm-5 col-xs-12 form-group" id="selector">
                                <label class="control-label col-md-3 col-xs-12">Choose category</label>
                                <div class="col-md-9 col-xs-12">
                                    <select class="form-control" v-model="selectedOption">
                                        <option value="">--Select--</option>
                                        <option v-for="option in dropDownData" :value="option.id">{{option.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-5 col-xs-12 form-group pull-right top_search" id="top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for..." v-model="ftitle" id="ftitle" @keyup.enter="search" >
                                  <span class="input-group-btn">
                                    <button class="btn btn-success white" type="button" @click="search()">Search!</button>
                                  </span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row" v-cloak  v-infinite-scroll="more()" infinite-scroll-disabled="busy" infinite-scroll-distance="1">
                            <div class="loader" v-show="isLoading">Loading...</div>
                            <span class="v-cloak--inline">Loading...</span>
                            <post :post="post" :mobile="isMobile" :is-loading.sync="isLoading" :is-mobile.sync="isMobile" :domains-data="domainsData" v-for="post in campaigns | filterBy selectedOption in 'category'"
                                  :three="($index + 1) % 3" :model="currentModel"
                            ></post>
                            <div v-show="noPosts" class="alert alert-warning flat text-center"><h5>No posts</h5></div>
                        </div>
                        <div style="text-align: center;">
                            <button @click="more()" class="btn btn-success alert flat alert-info center">Load more</button>
                        </div>
                        <div class="sk-circle" v-show="busy">
                            <div class="sk-circle1 sk-child"></div>
                            <div class="sk-circle2 sk-child"></div>
                            <div class="sk-circle3 sk-child"></div>
                            <div class="sk-circle4 sk-child"></div>
                            <div class="sk-circle5 sk-child"></div>
                            <div class="sk-circle6 sk-child"></div>
                            <div class="sk-circle7 sk-child"></div>
                            <div class="sk-circle8 sk-child"></div>
                            <div class="sk-circle9 sk-child"></div>
                            <div class="sk-circle10 sk-child"></div>
                            <div class="sk-circle11 sk-child"></div>
                            <div class="sk-circle12 sk-child"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped>
    .btn.white{
        color: white !important;
    }

    .btn.center{
        margin: 10px auto !important;
        width: 250px;
        position: relative;
        font-size: 17px;
        color: white;
        font-weight: bold;
    }

</style>
<script>

    import config from "../config";
    import post from './post.vue'
    import infiniteScroll from "vue-infinite-scroll"
    Vue.use(infiniteScroll)
    export default{
        data:function(){
            return {
                campaigns: [],
                isLoading:false,
                dropDownData: [],
                selectedOption:'',
                isMobile: false,
                lastPage: 1,
                busy: false,
                offsetY:null,
                noMoreData:false,
                currentModel: 'all',
                domainsData: []
            }
        },
        directives: {infiniteScroll},
        components:{post},
        ready: function () {
            this.getDomainsData();
            this.filter('latest');
            this.getDropdownData();
//            this.infiniteScroll();
            this.updateListOffset();
//            this.initWidthHandler();
        },
        computed:{
            noPosts:function(){
                return this.campaigns.length==0;
            }
        },
        watch: {
            ftitle: function(search){

                if(this.selectedOption){
                    this.selectedOption = '';
                }

               /* if(search.length  >= 3){
                    this.filter(search);
                }else{
                    this.filter('all');
                }*/
            },
            selectedOption: function(newVal){
                this.lastPage = 0;
                this.more();
            }
        },
        methods: {
            initWidthHandler : function(){
                $('#ftitle').focus(function(){

                });
            },
            search: function(){
                var self = this;
                self.updateListOffset();
                $.ajax({
                    url: config.base + 'api/campaigns?filter=custom&substring='+self.ftitle,
                    type: 'get',
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        if(data.data.data && data.data.data.length == 0){
                            self.noMoreData = true;
                            self.$set('campaigns',data.data.data);
                        }else{
                            self.$set('campaigns',data.data.data);
                        }

                        if(data.data.length == 0){
                            self.noMoreData = true;
                            self.$set('campaigns',[]);
                        }else{
                            self.$set('campaigns',data.data.data);
                        }

                        self.$set('isMobile',data.isMobile);
                        if(data.isMobile){
                            $('.info-top').remove();
                        }
                    }
                });
            },
            filter: function(model){
                var self = this;
                if(model != self.currentModel){
                    self.lastPage = 1;
                }
                self.currentModel = model;
                this.isLoading=true;
                $.ajax({
                    url: config.base + 'api/campaigns?filter='+self.currentModel+'&page='+self.lastPage,
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function(){
                        self.isLoading=true;
                    },
                    async: false,
                    success: function (data) {
                        if(data.data.data && data.data.data.length == 0){
                            self.noMoreData = true;
                        }else{
                            self.noMoreData = false;
                        }
                        self.isLoading=false;
                        if(data.data.current_page){
                            self.$set('campaigns',data.data.data);
                            self.$set('isMobile',data.isMobile);
                            self.lastPage = data.data.current_page;
                        }else{
                            self.$set('campaigns',data.data);
                            self.lastPage = 1;
                        }

                    }
                });
            },

            getDropdownData:function(){
                const self = this;
                $.ajax({
                    url: config.base + 'api/categories',
                    type: 'get',
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        self.$set('dropDownData',data);
                    }
                });
            },
            more: function(){
                this.busy = true;
                this.lastPage++;
                var self = this;
                let url = config.base + 'api/campaigns?filter='+self.currentModel+'&page='+self.lastPage;
                if(this.selectedOption !== ''){
                        url = config.base + 'api/campaigns?filter='+self.currentModel+'&option='+this.selectedOption+'&page='+self.lastPage;
                }
                $.ajax({
                    url: url,
                    type: 'get',
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        self.busy = false;
                        if(data.data.data.length == 0){
                            self.noMoreData = true;
                        }
                        self.campaigns = self.campaigns.concat(data.data.data);
                    },
                });
            },
            infiniteScroll: function () {
                var that = this;
                window.addEventListener("scroll", function (event) {
                    if (that.offsetY && that.offsetY < window.pageYOffset) {
                        if(! that.noMoreData){
                            that.more();
                        }
                    }
                });
            },
            updateListOffset: function () {
                var that = this;
                setTimeout(function () {
                    var selector=".post-element";
                    var $row = $(selector + " :nth-last-child(4)");
                    if ($row.length != 0) {
                        that.offsetY = $row.offset().top + $row.outerHeight() - window.innerHeight;
                    } else {
                        that.offsetY = null;
                    }
                }, 2000)
            },
            getDomainsData:function(){
                const self = this;
                $.ajax({
                    url: config.base + 'api/domains',
                    type: 'get',
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        self.$set('domainsData',data.data);
                    }
                });
            },
            clearPosted: function(){
                const self = this;
                $.ajax({
                    url: config.base + 'api/campaigns-reset',
                    type: 'post',
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        location.reload();
                    }
                });
            }
        }
    };


</script>