<template>

<div class="post-element col-sm-12 col-xs-12 col-md-6 col-lg-4 v-cloak--hidden">
        <div>
            <formular :show.sync="showDetails" :is-loading.sync="isLoading" :post.sync="post" :drop-down-data.sync="domainsData">
            </formular>
        </div>
        <div class="col-md-12">
            <div class="thumbnail" v-bind:class="{'mobile_height': isMobile}">
                <div class="image view view-first">
                    <img style="display: block;" :src="post.location" alt="image"  :height="height" :width="width"/>
                    <h2 v-show="post.posted">Already posted</h2>
                    <div class="mask no-caption" v-show="! isMobile">
                        <div class="tools tools-bottom">
                            <a class="btn btn-success btn-sm" @click="showDetails=true">Generate link</a>
                            <a :href="preview" target="_blank" class="btn btn-success btn-sm">Preview</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="caption post-title">
            <p><strong>{{ post.title }}</strong>  </p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12" style="margin-top:10px;" v-show="isMobile">
            <a href="#" class="btn btn-success btn-sm" @click="showDetails=true">Generate link</a>
            <a :href="preview" target="_blank" class="btn btn-success btn-sm">Preview</a>
        </div>
        <div class="all-time" v-bind:class="{ 'popular' : model == 'popular' }">
            <img class="logo" :src="clicks_img" alt="logo" height="20" width="30"  data-toggle="tooltip" data-placement="bottom" title="" data-original-title="All time clicks.">
            <div>
                <span class="indicator step1" v-bind:class="{ 'popular' : model == 'popular' }" v-if="model == 'popular'">Yesterday Clicks<i>&nbsp;<strong>{{post.views || 0}}</strong></i></span>
                <br>
                <span class="indicator step2" v-bind:class="{ 'popular' : model == 'popular' }">All Time Clicks<i>&nbsp;<strong>{{post.clicks}}</strong></i></span>
            </div>
        </div>
</div>
</template>
<style scoped>

    @media (min-width: 1200px){
        .post-element {
            width: 50% !important;
        }
    }

    @media (min-width: 1550px){
        .post-element {
            width: 33.33333% !important;
        }
    }

    .thumbnail img{
        margin: 0 auto;
    }


    .indicator{
        line-height: 20px;
        font-size: 13px;
        font-weight: normal;
    }
    .all-time{
        float: right;
        height:20px;
        margin-top: -55px;
    }

    .logo{
        margin-bottom: -70px;
        margin-left: -40px;
    }

    .popular .logo {
        margin-bottom: -38px;
        position: relative;
        margin-left: -40px;
    }



    .popular.all-time{
        position: relative;
        height: 30px;
        margin-top: -55px;
        /*right:-110px;*/
    }

    .popular.step1{
        position: relative;
        /*top: -10px;*/
        /*left: 9px;*/
    }

    .popular.step2{
        position: relative;
        /*left: -116px;*/
        /*bottom: -6px;*/
    }

    .post-element{
        margin-bottom: 20px;
        display: block;
        padding: 4px;
        margin-bottom: 20px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-transition: border .2s ease-in-out;
        -o-transition: border .2s ease-in-out;
        transition: border .2s ease-in-out;
    }
    .post-title{
        text-transform: capitalize;
        display: block;
        background-color: #fff;
        color: #000;
        font-weight: bold !important;
        height: 70px;
    }
    .post-title strong{
        overflow: auto;
        font-size: 13px !important;
    }
    .thumbnail{
        padding: 0px;
        margin-bottom: 10px;
    }
    .thumbnail .image{
        height:auto;
    }
    .mask.no-caption .tools{
        margin: 206px 0 0 0;
    }

    .full-btn{
        width:100%;
    }

    .image {
        position: relative;
        width: 100%; /* for IE 6 */
    }

    .image h2 {
        top: -48px;
        position: relative;
        left: 0;
        width: 185px;
        font-weight: bold;
        color: white;
        font: bold 24px/13px Helvetica, Sans-Serif;
        letter-spacing: -1px;
        background: rgba(0, 0, 0, 0.7);
        padding: 10px;
    }

    .col-md-55, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-right: 5px;
        padding-left: 5px;

    }

    .mobile_height{
        height: 160px;
    }

</style>
<script>
    import formular from "../general/formular.vue"
    import config from "../config"

    export default{
        data:function(){
            return {
                showDetails:false,
                preview: 'http://quizocean.com/r.php?'+this.post.link,
                clicks_img: config.base + "/img/views.png",
                height: 246,
                width: 469
            }
        },
        ready: function(){
            if(this.mobile){
                this.height = 158;
                this.width = 300;
            }
            
        },
        components: { formular },
        props:['post','isLoading','isMobile','domainsData','three','mobile', 'model'],
        watch : {
            domainsData : function (value) {
            }
        },
        methods: {
            open: function(){
            }
        }
    }
</script>