.note-editor{
    z-index: auto;
    position: relative;
    line-height: 20px;
    font-size: 14px;
    transition: none;
    background: transparent !important;
}

.uploaded-image {
    width: 240px;
    height: 240px;
    border: 1px solid #ECECEC;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.error {
    color : red;
}

.form-my-campaigns .center{

    margin: 0 auto;

}

.remove-item {
    display: inline-block;
}

.remove-item:hover {
    text-decoration: underline;
}

.counter {
    display: inline-block;
}


.extern-link .confirm-btn:hover {
    color: #332d2d;
    cursor: pointer;
}

.form-my-campaigns .photo-zone {
    position: relative;
}

.form-my-campaigns .btn-file {
    position: absolute;
    top: 70%;
    margin-left: 10%;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}

.form-my-campaigns .extern-link {
    position: absolute;
    top: 70%;
    left: 40%;
}

.form-my-campaigns .btn-add {
    width: 130px;
    height: 30px;
}

.action-form-btn-do, #action-form-btn-cancel {
    border-radius: 0;
    width:49%;

}

.form-my-campaigns .remove-item {
    float: right;
    background: transparent;
}

.alert-zone {
    width: 33%;
    position: absolute;
    top: 3%;
    right: 3%;
}

#image-upload-box .validLink {
    position: relative !important;
}

.form-my-campaigns .extern-link.validLink {
    position: relative;
    left: 0%;
}


