<template>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <calendar :start.sync="tstart" :stop.sync="tend"></calendar>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <article-table
                            v-show="start_date !== ''"
                            :start-date.sync="start_date" :end-date.sync="end_date" v-show="! isLoading" :loading.sync="isLoading"></article-table>
                    <loading :loading.sync=isLoading></loading>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</template>
<script>
    import articleTable from "./articles-table.vue";
    import loading from '../general/load.vue';
    import calendar from '../general/calendar.vue';

    export default{
        data(){
            return{
                tstart: '',
                tend: '',
                start_date: '',
                end_date: '',
                isLoading: true
            }
        },
        events: {
            'focus' : function (tab) {
                this.$broadcast('focus', tab);
                setTimeout( function () {
                    this.tstart = this.todayDate();
                    this.tend = this.todayDate();
                }.bind(this), 100)
            }
        },
        props : ['tab'],

        ready: function(){
        },

        components:{
            articleTable,
            loading,
            calendar
        },

        watch: {
            tstart: function (value) {
                this.isLoading = true;
                setTimeout(function(){
                    this.start_date = value;
                    this.end_date   = this.tend;
                }.bind(this),100);
            }
        },

        methods: {

            todayDate: function(){
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();

                if(dd<10) {
                    dd='0'+dd
                }

                if(mm<10) {
                    mm='0'+mm
                }

                today = yyyy+'-'+mm+'-'+dd;
                return today;
            }

        }
    }
</script>