<template>
    <div>

        <div class="alert alert-info" v-if="totalPages === 0 && !loading">
            There are not links generated for the selected time period. Stats for generated links can be seen next day.
        </div>

        <ul class="pagination pull-right" v-if="data.data && !loading">
            <li v-if="currentPage > 1"><a class="pointer" :disabled="data.current_page === 1" @click="prevPage()">«</a></li>
            <li><a class="disable">
                {{ data.current_page || 0 }}
            </a></li>
            <li><a  class="disable">of</a></li>
            <li><a  class="disable"> {{ totalPages }} </a></li>
            <li v-if="currentPage != totalPages"><a  class="pointer" :disabled="data.current_page === totalPages" @click="nextPage()">»</a></li>
        </ul>


        <table class="table table-bordered table-striped" v-if="! loading && data.data">
            <thead>
            <tr>
                <th>ARTICLE</th>
                <th>PAGEVIEWS <span  class="badge badge-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Number of unique page views.">?</span></th>
                <th>CLICKS  <span  class="badge badge-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="A unique click is unique to each user per article per 24 hours. So for example 1 person clicks on an article 10 times, that would display 1 unique click.">?</span></th>
                <th>QUALITY <span  class="badge badge-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="The quality refers to the quality of clicks you are sending. This is calculated by the Viewed Clicks divided by the Unique Clicks. Incentivizing people to click on the links will resort in loq quality traffic.">?</span></th>
                <th>ECPC <span class="badge badge-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="This is the average cost per click according to all of your traffic.">?</span></th>
                <th>ECPM <span class="badge badge-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="This is average earnings per 1000 unique clicks according to all of your traffic.">?</span></th>
                <th>EARNINGS</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="day in data.data">
                <th class="w400">
                    <div class="photo-container w400">
                        <div class="thumbnail">
                            <div class="image view view-first">
                                <img alt="image" width="390" height="205"
                                     :src="day.photo">
                            </div>
                        </div>
                        <strong class="title">{{ day.title }}</strong>

                    </div>
                </th>
                <td>{{ day.clicks }} </td>
                <td>{{ day.clicks_calitate }}</td>
                <td>{{ day.quality }} %</td>
                <td>$ {{ day.ecpc }}</td>
                <td>$ {{ day.ecpm }}</td>
                <td>$ {{ day.earnings }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <th> {{ totals.clicks}} </th>
                <th>{{ totals.clicks_calitate }}</th>
                <th>{{ totals.quality }} %</th>
                <th>$ {{ totals.ecpc }}</th>
                <th>$ {{ totals.ecpm }}</th>
                <th>$ {{ totals.earnings }}</th>
            </tr>
            </tbody>
        </table>
        <ul class="pagination pull-right" v-if="data.data && !loading">
            <li v-if="currentPage > 1"><a class="pointer" :disabled="data.current_page === 1" @click="prevPage()">«</a></li>
            <li><a class="disable">
                {{ data.current_page || 0 }}
            </a></li>
            <li><a  class="disable">of</a></li>
            <li><a  class="disable"> {{ totalPages }} </a></li>
            <li v-if="currentPage != totalPages"><a  class="pointer" :disabled="data.current_page === totalPages" @click="nextPage()">»</a></li>
        </ul>
    </div>
</template>
<style scoped>
    .w400{
        width:400px;
    }
    .photo-container {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        overflow-x: auto;
    }
    .photo-container img {

    }

    .title{
        overflow: auto;
        font-size: 13px !important;
        font-weight: 700;
        text-transform: capitalize;
        display: block;
        background-color: #fff;
        color: #000;
        width: 305px;
        margin: 0 auto;
    }

    .thumbnail {
        overflow: hidden;
        display: block;
        padding: 4px;
        margin-bottom: 20px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-transition: border .2s ease-in-out;
        -o-transition: border .2s ease-in-out;
        transition: border .2s ease-in-out;
        height: 205px;
        width: 390px;
    }

    .thumbnail img {
        display: block;
        height: 100%;
    }

    .thumbnail .image{
        height: 100%;
        width: 390px;
        height: 205px;
    }

    .pointer{
        cursor: pointer;
    }
    ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {display: inline;}

    ul.pagination li a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
    }

    ul.pagination li a.active {
        background-color: #4CAF50;
        color: white;
    }
</style>
<script>
    import config from "../config"

    export default{
        data(){
            return{
                data: {
                    current_page: 1
                },
                currentPage: 1,
                totalPages: 0,
                totals: {},
                myProgress: {
                    precent: 0,
                    options: {
                        show: true,
                        canSuccess: true,
                        color: 'rgb(143, 255, 199)',
                        failedColor: 'red',
                        height: '2px'
                    }
                }
            }
        },
        components:{
        },
        props:['startDate', 'endDate','loading', 'tab'],
        events: {
          'focus' : function (tab) {
              if(tab === 2) {
                  setTimeout(function(){
                      this.startDate = this.todayDate();
                      this.endDate = this.todayDate();
//                         this.retriveData();
                  }.bind(this),500);
              }
          }
        },
        watch:{
            startDate:function(value){
                if(value !== ''){
                    this.loading = true;
                    this.retriveData(this.data.current_page);
                }
            }
        },
        methods: {

            retriveData: function(current_page){
                const self  =this;
                $.ajax({
                    url: config.base + 'api/articles-range?startDate='+self.startDate+"&endDate="+self.endDate+"&page="+current_page,
                    type: 'get',
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        if(data.data.data && data.data.data.length == 0){
                            self.data = [];
                            self.totalPages = 0;
                            self.currentPage = 1;
                        }else{
                            self.data = data.data;
                            self.currentPage = data.data.current_page;
                            self.totalPages  = data.data.last_page;
                        }
                        self.totals = data.totals;
                        self.loading = false;
                    }
                });
            },

            nextPage: function () {
                this.loading = true;
                setTimeout(function(){
                    this.retriveData(this.data.current_page + 1);
                }.bind(this),100);
            },

            prevPage: function () {
              this.loading = true;
                setTimeout(function(){
                    this.retriveData(this.data.current_page - 1);
                }.bind(this),100);
            },

            getLastWeek: function(){
                var today = new Date();
                var lastWeek = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 7);
                return lastWeek ;
            },
            todayDate: function(){
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();

                if(dd<10) {
                    dd='0'+dd
                }

                if(mm<10) {
                    mm='0'+mm
                }

                today = yyyy+'-'+mm+'-'+dd;
                return today;
            }

        },
        ready:function(){
            const self = this;

        }
    }
</script>