<template>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 class="period">Period  <span v-if="start_date === ''">Please select an interval</span> <i v-show="start_date">: <span> {{start_date}} - {{end_date}} </span></i></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="col-md-62f">
                            <div id="reportrange" class="period pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                <span> {{ start_date }} - {{ end_date }} </span> <b class="caret"></b>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="alert alert-info">
                        Please note that earnings are calculated only on the basis of quality clicks.
                    </div>
                    <report-table
                            v-show="start_date !== ''"
                            :mobile.sync="mobile"
                            :start-date.sync="start_date" :end-date.sync="end_date" v-show="! isLoading" :loading.sync="isLoading"></report-table>
                    <loading :loading.sync=isLoading></loading>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</template>
<script>
    import reportTable from "./table.vue"
    import loading from '../general/load.vue';

    export default{
        data(){
            return{
                start_date: '',
                end_date: '',
                isLoading: true
            }
        },
        ready: function(){
            this.initCalendar();
        },
        props: ['mobile'],
        components:{
            reportTable,
            loading
        },
        methods: {
            initCalendar: function() {
                const self = this;
                var ranges = {};
                var cb = function(start, end, label) {
                    $('.period span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                }

                function isServerDiff() {
                    var local = moment();
                    var server = moment(window.serverDate);
                    return local.year() >= server.year() && local.date() > server.date() && local.diff(server, 'hours') > 0;
                }

                if(! isServerDiff()) {
                    ranges = {
                        'Today': [moment(), moment()],
                    }
                }
//                window.serverDate = "2016-11-13 23:01:23";
                var optionSet1 = {
                    ranges: $.extend(ranges, {
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }),
                    opens: 'left',
                    buttonClasses: ['btn btn-default'],
                    applyClass: 'btn-small btn-primary',
                    cancelClass: 'btn-small',
                    format: 'MM/DD/YYYY',
                    separator: ' to ',
                    maxDate: moment(window.serverDate),
                    defaultDate: 10,
                    locale: {
                        applyLabel: 'Submit',
                        cancelLabel: 'Clear',
                        fromLabel: 'From',
                        toLabel: 'To',
                        customRangeLabel: 'Custom',
                        daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                        monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                        firstDay: 1
                    }
                };
//                $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
                $('#reportrange').daterangepicker(optionSet1, cb);
                $('#reportrange').on('show.daterangepicker', function() {
                });
                $('#reportrange').on('hide.daterangepicker', function() {
                });
                $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
                    self.isLoading = true;
                    setTimeout(function(){
                        self.start_date = picker.startDate.format('YYYY-M-D');
                        self.end_date   = picker.endDate.format('YYYY-M-D');
                    },100);
                });
                $('#reportrange').on('cancel.daterangepicker', function(ev, picker) {
                });
                $('#options1').click(function() {
                    $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
                });
                $('#options2').click(function() {
                    $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
                });
                $('#destroy').click(function() {
                    $('#reportrange').data('daterangepicker').remove();
                });
            }
        }
    }
</script>