<template>
    <div class="">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2> Tabs reports </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="tabs-navigator" class="nav nav-tabs bar_tabs" role="tablist">
                            <li @click="changeTab(1)" role="presentation" class="active"><a href="#general_reports" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">General Reports</a>
                            </li>
                            <li v-if="! mobile" @click="changeTab(2)" role="presentation" class="article_earnings"><a href="#article_earnings" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Article Earnings</a>
                            </li>
                        </ul>
                        <div id="tab-content" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="general_reports" aria-labelledby="home-tab">


                                <earnings :mobile.sync="mobile"></earnings>


                            </div>
                            <div role="tabpanel" v-if="! mobile" class="tab-pane fade article_earnings" id="article_earnings" aria-labelledby="profile-tab">


                                <article-earning :tab="tab"></article-earning>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
<style>
</style>
<script>
    import earnings from './earnings.vue';
    import articleEarning from './article-earning.vue';

    export default{
        data(){
            return{
                tab: 1,
                mobile: true
            }
        },
        methods: {
            changeTab: function (tab) {
                this.$broadcast('focus', tab);
                this.tab = tab;
            }
        },
        components:{
            earnings,
            articleEarning
        }
    }
</script>
