<template>
    <table class="table table-bordered table-striped" v-if="! loading">
        <thead>
        <tr>
            <th>DATE</th>
            <th>PAGEVIEWS <span  class="badge badge-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Number of unique page views.">?</span></th>
            <th>CLICKS  <span  class="badge badge-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="A unique click is unique to each user per article per 24 hours. So for example 1 person clicks on an article 10 times, that would display 1 unique click.">?</span></th>
            <th>QUALITY <span  class="badge badge-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="The quality refers to the quality of clicks you are sending. This is calculated by the Viewed Clicks divided by the Unique Clicks. Incentivizing people to click on the links will resort in loq quality traffic.">?</span></th>
            <th>ECPC <span class="badge badge-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="This is the average cost per click according to all of your traffic.">?</span></th>
            <th>ECPM <span class="badge badge-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="This is average earnings per 1000 unique clicks according to all of your traffic.">?</span></th>
            <th>EARNINGS</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="day in data">
            <th>{{ day.date }}</th>
            <td>{{ day.clicks }} </td>
            <td>{{ day.clicks_calitate }}</td>
            <td>{{ day.quality }} %</td>
            <td>$ {{ day.ecpc }}</td>
            <td>$ {{ day.ecpm }}</td>
            <td>$ {{ day.earnings }}</td>
        </tr>
        <tr>
            <th>Total</th>
            <th> {{ totals.clicks}} </th>
            <th>{{ totals.clicks_calitate }}</th>
            <th>{{ totals.quality }} %</th>
            <th>$ {{ totals.ecpc }}</th>
            <th>$ {{ totals.ecpm }}</th>
            <th>$ {{ totals.earnings }}</th>
        </tr>
        </tbody>
    </table>


</template>
<script>
    import config from "../config"

    export default{
        data(){
            return{
                data: [],
                totals: {},
                myProgress: {
                    precent: 0,
                    options: {
                        show: true,
                        canSuccess: true,
                        color: 'rgb(143, 255, 199)',
                        failedColor: 'red',
                        height: '2px'
                    }
                }
            }
        },
        components:{
        },
        props:['startDate', 'endDate','loading', 'mobile'],
        watch:{
          startDate:function(value){
              if(value !== ''){
                  this.loading = true;
                  this.retriveData();
              }
          },
          endDate: function(){

          }
        },
        methods: {
            retriveData: function(){
                const self  =this;
                $.ajax({
                    url: config.base + 'api/report-range?startDate='+self.startDate+"&endDate="+self.endDate,
                    type: 'get',
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        self.data = data.data;
                        self.totals = data.totals;
                        self.loading = false;
                        self.mobile = data.isMobile;
                    }
                });
            },
            getLastWeek: function(){
                var today = new Date();
                var lastWeek = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 7);
                return lastWeek ;
            },
            todayDate: function(){
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();

                if(dd<10) {
                    dd='0'+dd
                }

                if(mm<10) {
                    mm='0'+mm
                }

                today = yyyy+'-'+mm+'-'+dd;
                return today;
            }

        },
        ready:function(){
            const self = this;
            setTimeout(function(){
                self.startDate = self.todayDate();
                self.endDate = self.todayDate();
//                self.retriveData();
            },500);
        }
    }
</script>