<template>
    <td>xxs</td>
    <td>1</td>
    <td>1</td>
</template>
<style>
</style>
<script>
    export default{
        data(){
            return{
            }
        },
        components:{
        }
    }
</script>