<template>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Refferals <i v-show="start_date">period: <span> {{start_date}} - {{end_date}} </span></i></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="col-md-62f">
                            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                <span>April 12, 2016 - May 11, 2016</span> <b class="caret"></b>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="alert alert-info">
                        Refer new publishers to twilikes and earn %3 of their lifetime earnings.
                    </div>
                   <div>
                       <div class="form-group row col-xs-12 col-md-8">
                           <input type="text" class="form-control" v-model="link" readonly>
                       </div>
                       <button class="btn btn-default" v-clipboard:copy="link"  :success="copySucess" :error="copyError" :title="arialabel">
                           Copy link
                       </button>
                   </div>
                    <report-table :start-date.sync="start_date" :linkview.sync="linkview" :link.sync="link" :end-date.sync="end_date"></report-table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</template>
<script>
    import reportTable from "./table.vue"
    import toastr from 'toastr'
    export default{
        data(){
            return{
                start_date: '',
                end_date: '',
                link: '',
                arialabel: '',
                linkview: ''
            }
        },
        ready: function(){
            this.initCalendar();
        },
        components:{
            reportTable
        },
        methods: {
            initCalendar: function() {
                const self = this;
                var cb = function(start, end, label) {
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                }

                var optionSet1 = {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    opens: 'left',
                    buttonClasses: ['btn btn-default'],
                    applyClass: 'btn-small btn-primary',
                    cancelClass: 'btn-small',
                    format: 'MM/DD/YYYY',
                    separator: ' to ',
                    locale: {
                        applyLabel: 'Submit',
                        cancelLabel: 'Clear',
                        fromLabel: 'From',
                        toLabel: 'To',
                        customRangeLabel: 'Custom',
                        daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                        monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                        firstDay: 1
                    }
                };
                $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
                $('#reportrange').daterangepicker(optionSet1, cb);
                $('#reportrange').on('show.daterangepicker', function() {
                });
                $('#reportrange').on('hide.daterangepicker', function() {
                });
                $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
                    self.start_date = picker.startDate.format('YYYY-M-D');
                    self.end_date   = picker.endDate.format('YYYY-M-D');
                });
                $('#reportrange').on('cancel.daterangepicker', function(ev, picker) {
                });
                $('#options1').click(function() {
                    $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
                });
                $('#options2').click(function() {
                    $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
                });
                $('#destroy').click(function() {
                    $('#reportrange').data('daterangepicker').remove();
                });
            },
            copySucess: function (e){
                this.arialabel = 'Copyed!'
                this.showTips = true
                toastr.info('Link copied to clipboard.')
            },
            copyError: function (e){
                this.showTips = true
                this.arialabel = fallbackMessage()
            },
            handlerL: function (){
                this.showTips = false;
            }
        }
    }
</script>