<template>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>DATE</th>
            <th>NAME  <span  class="badge badge-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="These are the amount of people who have successfully signed up to twilikes via your referral link">?</span></th>
            <th>EARNINGS <span  class="badge badge-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="This is the amount of earnings you have earned for all of the users on their overall earnings">?</span></th>
        </tr>
        </thead>
        <tbody  v-for="day in data">
        <tr v-for="user in day.users">
            <td>{{ day.date }}</td>
            <td>{{user.name}}</td>
            <td>$ {{user.summ}}</td>
        </tr>
        </tbody>
        <tr>
            <th>Total</th>
            <td></td>
            <td>$ {{ total }}</td>
        </tr>
    </table>
</template>
<script>
    import config from "../config"
    import dayrow from "./dayrow.vue"
    export default{
        data(){
            return{
                data: [],
                total: 0
            }
        },
        components:{
            dayrow
        },
        props:['startDate', 'endDate','link', 'linkview'],
        watch:{
            startDate:function(value){
                this.retriveData();
            },
            endDate: function(){

            }
        },
        methods: {
            retriveData: function(){
                const self  =this;
                $.ajax({
                    url: config.base + 'api/referral-range?startDate='+self.startDate+"&endDate="+self.endDate,
                    type: 'get',
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        self.data = data.data;
                        self.total = data.total;
                        self.link  = data.link;
                        self.linkview  = data.linkview;
                    }
                });
            },
            getLastWeek: function(){
                var today = new Date();
                var lastWeek = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 7);
                return lastWeek ;
            },
            todayDate: function(){
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();

                if(dd<10) {
                    dd='0'+dd
                }

                if(mm<10) {
                    mm='0'+mm
                }

                today = yyyy+'-'+mm+'-'+dd;
                return today;
            }

        },
        ready:function(){
            this.startDate = this.todayDate();
            this.endDate = this.todayDate();
//            this.startDate = "2016-5-13";
//            this.endDate = "2016-5-19";
            this.retriveData();
        }
    }
</script>