<template>
    <div>
        <h2 class="period">Period
            <span v-if="start === ''">Please select an interval</span>
            <i v-show="start">: <span> {{start}} - {{stop}} </span></i></h2>
        <div id="period" class="period pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            <span> {{ start }} - {{ stop }}</span> <b class="caret"></b>
        </div>
    </div>
</template>
<style>
    .daterangepicker.dropdown-menu.opensleft{
        z-index: 9999 !important;
    }
</style>
<script>
    export default{
        ready(){
            this.initCalendar();
        },
        data(){
            return{
                isLoading: true
            }
        },
        props: ['start','stop'],
        methods: {
            initCalendar: function() {
                const self = this;

                var cb = function(start, end, label) {
//                    $('.period span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                };

                var optionSet1 = {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    opens: 'left',
                    buttonClasses: ['btn btn-default'],
                    applyClass: 'btn-small btn-primary',
                    cancelClass: 'btn-small',
                    format: 'MM/DD/YYYY',
                    separator: ' to ',
                    locale: {
                        applyLabel: 'Submit',
                        cancelLabel: 'Clear',
                        fromLabel: 'From',
                        toLabel: 'To',
                        customRangeLabel: 'Custom',
                        daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                        monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                        firstDay: 1
                    }
                };
                $('#period').daterangepicker(optionSet1, cb);
                $('#period').on('show.daterangepicker', function() {
                });
                $('#period').on('hide.daterangepicker', function() {
                });
                $('#period').on('apply.daterangepicker', function(ev, picker) {
                    self.isLoading = true;
                    setTimeout(function(){
                        self.start = picker.startDate.format('YYYY-M-D');
                        self.stop   = picker.endDate.format('YYYY-M-D');
                    },100);
                });
                $('#period').on('cancel.daterangepicker', function(ev, picker) {
                });
                $('#options1').click(function() {
                    $('#period').data('daterangepicker').setOptions(optionSet1, cb);
                });
                $('#options2').click(function() {
                    $('#period').data('daterangepicker').setOptions(optionSet2, cb);
                });
                $('#destroy').click(function() {
                    $('#period').data('daterangepicker').remove();
                });
            }
        },
        components:{
        }
    }
</script>
