<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-clipboard="http://www.w3.org/1999/xhtml">
  <div>
      <modal :show.sync="show" :onclose="close">
          <div class="modal-header">
              <h3>Generate link</h3>
          </div>
          <div class="modal-body">
              <div class="loader" v-show="generate && !noSubdomain">Loading...</div>
              <div class="row" v-show="! generate && ! noSubdomain">
                  <div class="col-md-12">
                      <div class="form-group row domain-selector">
                          <label class="control-label col-md-3 col-xs-12">Choose domain</label>
                          <div class="col-md-9 col-xs-12">
                              <select class="form-control" v-model="selectedOption">
                                  <option v-for="option in dropDownData" :value="option.id">{{option.title}}
                                  </option>
                              </select>
                          </div>
                      </div>
                      <div class="form-group row col-xs-12">
                          <input type="text" class="form-control" v-model="postUrl" @click="select($event)">
                      </div>
                  </div>
              </div>
              <div class="alert alert-warning" v-show="noSubdomain">
                  Before, please set your subdomain by clicking <a :href="editProfileUrl"><u>here</u></a>.
              </div>
          </div>
          <div class="modal-footer">
              <button class="btn btn-default" v-clipboard:copy="postUrl"  :success="copySucess" :error="copyError" v-show="isGenerated" :title="arialabel">
                  Copy link
              </button>
              <button class="btn btn-default"  @click="submitFunction()" v-show="! isGenerated">Generate link</button>
          </div>
      </modal>
  </div>

</template>
<style scoped>
    .domain-selector {
        display: none;
    }
    
    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .input-margin-top{
        margin-top:20px;
    }

</style>
<script>
    import modal from './modal.vue'
    import config from '../config'
    import VueClipboard from 'vue-clipboard'
    import toastr from 'toastr'

    Vue.use(VueClipboard)
    export default{
        data:function(){
            return {
                selectedOption: '',
                generate: false,
                postUrl: '',
                isGenerated: false,
                showTips: false,
                arialabel: '',
                noSubdomain: false,
                editProfileUrl: config.base + 'dashboard?first_login=1'
            }
        },
        props: ['show','isLoading', 'post', 'dropDownData'],
        components:{modal},
        methods: {
            select(event){
              $(event.target).select();
            },
            close: function () {
                this.show = false;
                this.$parent.showDetails=false;
                this.title = '';
                this.body = '';
//                this.selectedOption = '528';
                this.generate =  false;
                this.postUrl =  '';
                this.isGenerated =  false;
                this.showTips =  false;
                this.arialabel =  '';
            },
           /* getDropdownData:function(){
                const self = this;
                $.ajax({
                    url: config.base + 'api/domains',
                    type: 'get',
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        self.$set('dropDownData',data.data);
                    }
                });
            },*/

            submitFunction: function() {

                const self = this;

                this.generate = true;
                $.ajax({
                    url: config.base + 'api/domains/generate',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        domain: self.selectedOption,
                        post:   self.post.id
                    },
                    async: false,
                    success: function (data) {
                        self.isGenerated  = true;
                        if(data.code == 200){
                            self.generate = false;
                            self.postUrl  = data.location;
                        }else{
                            self.noSubdomain   = true;
                        }
                    }
                });
            },
            copySucess: function (e){
                this.arialabel = 'Copyed!'
                this.showTips = true
                toastr.info('Link copied to clipboard.')
            },
            copyError: function (e){
                this.showTips = true
                this.arialabel = fallbackMessage()
            },
            handlerL: function (){
                this.showTips = false;
            }
        },
        created:function(){
            this.generate =  false;
            this.postUrl =  '';
            this.isGenerated =  false;
            this.showTips =  false;
            this.arialabel =  '';
        },
        ready:function(){
            if(this.dropDownData.length) {
                let randomIndex = Math.floor(Math.random()*(this.dropDownData.length - 1 - 0 + 1)+0);
                this.selectedOption = this.dropDownData[randomIndex].id;
            }

        }
    }

    function fallbackMessage(action) {
        var actionMsg = '';
        var actionKey = (action === 'cut' ? 'X' : 'C');

        if(/iPhone|iPad/i.test(navigator.userAgent)) {
            actionMsg = 'No support :(';
        }
        else if (/Mac/i.test(navigator.userAgent)) {
            actionMsg = 'Press ⌘-' + actionKey + ' to ' + action;
        }
        else {
            actionMsg = 'Press Ctrl-' + actionKey + ' to ' + action;
        }

        return actionMsg;
    }
</script>