<template xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div class="modal-mask"  v-on:keyup.enter="closeIfVisible()" v-show="show" transition="modal">
        <div class="modal-wrapper" >
            <div class="modal-container col-lg-4 col-md-8 col-sm-10 col-xs-11 col-centered" @click.stop  v-bind:class="{'new_modal_container': wrapperclass}">
                <button @click="close" class="btn btn-sm btn-default pull-right" style="border: none;" title="Close">X</button>
                <slot></slot>
            </div>
        </div>
    </div>
</template>
<style lang="sass" scoped>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        transition: opacity .3s ease;
        padding-bottom: 100px;
    }

    .modal-container {
        margin-top:200px !important;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
        padding:0;
    }

    .new_modal_container{
        margin-top:100px !important;
    }

    .modal-enter, .modal-leave {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .col-centered {
        float: none;
        margin: 0 auto;
    }
</style>
<script>
    export default{
        props: ['show', 'onclose', 'wrapperclass'],
        methods: {
            close: function () {
                this.onclose();
            },
        }
    }
</script>