<body>

<nav class="header_navbar navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>/.nav-collapse -->
    </div>
</nav>
<div style="clear:both;height: 20px;"></div>
<div class="container">
    <div class="col-lg-1"></div>
    <div class="col-lg-7 col-md-7 col-xs-12">
        <div class="post">
            <div style="padding: 15px;">
                <p class="col-md-9" style="padding: 0;">
                    <span class="post_title">I Couldn't Believe My Eyes When I Saw These Things... Talk about HUGE!<br /></span>
                    <span class="post_subtitle">Brace Yourseld - The World's BIGGEST Things Are Coming!</span>
                </p>
                <a rel="nofollow" href="#" onclick="next();" id="start_button" class="button long_button">Start <span>▶ </span></a>
            </div>
            <div class="image" style="position:relative;">
                <img src="http://images.camust.club/images/13085/14.jpg" style="width:100%;" alt="">
                <div class="button_border">
                    <a href="" class="btn btn-xs view_gallery">VIEW GALLERY</a>
                </div>
            </div>
        </div>
        <div class="like">
            <h4>You Might Like:</h4>
            <div class="col-md-4 col-xs-6">
                <img src="http://lorempixel.com/400/200/" class="img-responsive" alt="">
            </div>
            <div class="col-md-4 col-xs-6">
                <img src="http://lorempixel.com/400/200/" class="img-responsive" alt="">
            </div>
            <div class="col-md-4 col-xs-6">
                <img src="http://lorempixel.com/400/200/" class="img-responsive" alt="">
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12" style="border: 1px solid #ccc; min-height: 600px;">
        <!-- Aici bagi codul tau -->
    </div>
</div><!-- /.container -->




