<template>
    <ctable :view.sync="view" :links="links">

    </ctable>
    <button class="btn btn-default" @click="show()">Refferer</button>
</template>
<style>
</style>
<script>
    import ctable from "./table.vue";
    import config from "../../config"

    export default{
        data: function(){
            return {
                view: false,
                links: []
            }
        },
        components:{
            ctable
        },
        props: ['userid'],
        methods:{
            show: function(){
                this.receiveData(this.userid)
                this.view = true;
            },
            onclose: function(){
                this.view = false;
            },
            receiveData: function(userid){
                const self = this;
                $.ajax({
                    url: config.base + "/admin/access/users/access-links/" + userid,
                    type: 'get',
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        if(data.code == 200){
                            console.log('aici' ,data);
                            self.links = data.links;
                        }else{
                            self.links = [];
                        }
                    }
                });
            }
        },
        ready: function(){
        }
    }


</script>