<template>
    <div>
        <modal :show.sync="view" :onclose="close">
            <div class="modal-header">
                <h3>Referral links</h3>
            </div>
            <div class="modal-body">
                <div class="loader" v-show="generate && !noSubdomain">Loading...</div>
                <div class="row" v-show="! generate && ! noSubdomain">
                    <table class="table table-bordered table-striped" v-if="links.length > 0">
                        <thead>
                        <tr>
                            <th>Link</th>
                            <th>Nr clicks </th>
                        </tr>
                        </thead>
                        <tbody >
                            <tr v-for="link in links">
                                <td><a :href="link.link">{{ link.link }}</a></td>
                                <td>{{ link.nr}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="alert alert-info" v-if="links.length == 0">No data</div>
                </div>
            </div>
        </modal>
    </div>
</template>
<script>
    import modal from "../../general/modal.vue"

    export default{
        data(){
            return{
                data: [],
                total: 0
            }
        },
        components:{
            modal
        },
        props:['links','user','view'],
        watch:{
        },
        methods: {
            referrersInside: function(){
                console.log('xxxxxx');
            },
            close: function(){
                this.view = false;
            }
        },
        ready:function(){
            console.log('tabel', this.links,this.user);
        }
    }
</script>