a:hover{
	text-decoration: none;
	color: white;
}
.header_navbar{
	min-height: 40px;
}
.header_navbar .navbar-brand{
	height: 40px;

}
@media (min-width: 768px){
	.header_navbar .navbar-brand{
		padding: 10px;
	}
}


.header_navbar .navbar-nav>li>a{
	padding: 10px;
}
.navbar-inverse{
	background-color: #175556;
	border-color: #175556;
}
.post{
    border-radius: 4px;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .7);
    box-shadow: 0 0 1px rgba(0, 0, 0, .7);
    position: relative;
    background: #fff;
    overflow: hidden;
}
.long_button{
	background-color: #69a74e;
    float: right;
    font-size: 20px;
    padding: 12px 32px;
    line-height: 20px;
    font-weight: 600;
    margin: -1px 0 0 10px;
    color: #fff;
    border: none;
    border-radius: 4px;
}
.post_title{
	font-size: 20px;
    font-weight: 500;
}
.post_subtitle{
	font-size: 16px;
    color: #333;
    font-weight: 300;
    line-height: 1.25em;
    margin: 0;
}
.button_border{
	position: absolute;
    display: block;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 45%;
    padding: 7px;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 40px;

}
.view_gallery{
	width: 100%;
	color: white;
    line-height: 85px;
    font-size: 21px;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    background-color: #69a74e;
    border-radius: 40px;
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, .1) 0%, rgba(255, 255, 255, .3) 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(0, 0, 0, .1)), color-stop(100%, rgba(255, 255, 255, .3)));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .1) 0%, rgba(255, 255, 255, .3) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, .1) 0%, rgba(255, 255, 255, .3) 100%);
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, .1) 0%, rgba(255, 255, 255, .3) 100%);
    background-image: linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(255, 255, 255, .3) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#33FFFFFF', GradientType=0);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 3px rgba(0, 0, 0, .5);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 3px rgba(0, 0, 0, .5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 3px rgba(0, 0, 0, .5);
}
.view_gallery:hover{
	    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, .2) 0%, rgba(255, 255, 255, .2) 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(0, 0, 0, .2)), color-stop(100%, rgba(255, 255, 255, .2)));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .2) 0%, rgba(255, 255, 255, .2) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, .2) 0%, rgba(255, 255, 255, .2) 100%);
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, .2) 0%, rgba(255, 255, 255, .2) 100%);
    background-image: linear-gradient(top, rgba(0, 0, 0, .2) 0%, rgba(255, 255, 255, .2) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#33FFFFFF', GradientType=0);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 3px rgba(0, 0, 0, .5);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 3px rgba(0, 0, 0, .5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 3px rgba(0, 0, 0, .5);
    color: white;
}

.like{
	margin: 25px 0 10px 0;
	overflow: hidden;
}
.like h4{
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #175556;
    color: #fff;
    padding: 8px 11px;
}
.like .col-md-4{
	padding: 3px;
}
.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #175556;
	min-height: 40px;
}